In [3]:
import numpy as np
import pandas as pd

In [4]:
aapl = pd.read_csv("mergeddata_AAPL.csv")
abnb = pd.read_csv("mergeddata_ABNB.csv")
amzn = pd.read_csv("mergeddata_AMZN.csv")
avgo = pd.read_csv("mergeddata_AVGO.csv")
googl = pd.read_csv("mergeddata_GOOGL.csv")
jnj = pd.read_csv("mergeddata_JNJ.csv")
jpm = pd.read_csv("mergeddata_JPM.csv")
lly = pd.read_csv("mergeddata_LLY.csv")
ma = pd.read_csv("mergeddata_MA.csv")
meta = pd.read_csv("mergeddata_META.csv")
msft = pd.read_csv("mergeddata_MSFT.csv")
nvda = pd.read_csv("mergeddata_NVDA.csv")
pg = pd.read_csv("mergeddata_PG.csv")
tsla = pd.read_csv("mergeddata_TSLA.csv")
unh = pd.read_csv("mergeddata_UNH.csv")
v = pd.read_csv("mergeddata_V.csv")
xom = pd.read_csv("mergeddata_XOM.csv")

In [5]:
#merge all of the data
combined_data = pd.concat([aapl, abnb, amzn, avgo, googl, jnj, jpm, lly, ma,
                           meta, msft, nvda, pg, tsla, unh, v, xom],
                          ignore_index=True)

In [6]:
combined_data_328 = combined_data

In [7]:
combined_data_328.shape

(17095, 19)

In [8]:
combined_data_328.isna().sum()

articleDate             0
n_companies             0
StockSymbol             0
source                  0
companies               0
country               168
entities                0
positive_sentiment      0
negative_sentiment      0
neutral_sentiment       0
title_polarity          0
title_subjectivity      0
open                  784
close                 784
high                  784
low                   784
volume_start          784
volume_end            784
volume_mean           784
dtype: int64

In [ ]:
#if we drop all of the na values for the stock data, we still have 16k data points

In [11]:
combined_data_328['country'].value_counts()
#maybe we change this to the dummy variable: either is it from an American news source or a foreign one

country
us    12326
gb     1622
in     1025
ca      490
ng      184
      ...
mt        1
mn        1
ps        1
kw        1
ch        1
Name: count, Length: 83, dtype: int64

In [17]:
combined_data_328['country_isUS'] = np.where(combined_data_328['country'] == 'us', 1, 0)

In [19]:
combined_data_328['country_isUS'].value_counts()

country_isUS
1    11752
0     4559
Name: count, dtype: int64

In [13]:
#how can we save the NAs?
combined_data_328.dropna(subset=['open'], inplace=True)

In [14]:
combined_data_328.isna().sum()

articleDate             0
n_companies             0
StockSymbol             0
source                  0
companies               0
country               166
entities                0
positive_sentiment      0
negative_sentiment      0
neutral_sentiment       0
title_polarity          0
title_subjectivity      0
open                    0
close                   0
high                    0
low                     0
volume_start            0
volume_end              0
volume_mean             0
open_marketcap          0
close_marketcap         0
dtype: int64

In [15]:
#stock price alone is not a great predictor: let's use market cap
#market cap is a metric that is calculated from the product of the stock price and the volume
#taking the volume for the monday and the friday, we two market cap metrics
combined_data_328['open_marketcap'] = combined_data_328['open'] * combined_data_328['volume_start']
combined_data_328['close_marketcap'] = combined_data_328['close'] * combined_data_328['volume_end']

In [16]:
#analyze the source attribute
combined_data_328['source'].value_counts()
#we will have to combine some sources

source
ft.com                909
defenseworld.net      765
finance.yahoo.com     472
nasdaq.com            472
benzinga.com          288
                     ...
nyrej.com               1
bitcoinist.com          1
mvariety.com            1
westislandblog.com      1
tennessean.com          1
Name: count, Length: 3194, dtype: int64

In [ ]:
#lets take care of the Nan values for the country

In [20]:
combined_data_328.shape

(16311, 22)

In [ ]:
#rule of 10, we want 10 times the number of example as we do attributes

In [23]:
combined_data_328.isna().sum()

articleDate           0
n_companies           0
StockSymbol           0
source                0
companies             0
entities              0
positive_sentiment    0
negative_sentiment    0
neutral_sentiment     0
title_polarity        0
title_subjectivity    0
open                  0
close                 0
high                  0
low                   0
volume_start          0
volume_end            0
volume_mean           0
open_marketcap        0
close_marketcap       0
country_isUS          0
dtype: int64

In [22]:
combined_data_328.drop(columns=['country'], inplace=True)

In [24]:
combined_data_328.to_csv('complete_data_328.csv', index=False)