In [789]:
import numpy as np
import pandas as pd
df = pd.read_csv("dataABNB.csv")

In [790]:
#sample function from chatgpt
import ast

def clean_sentiment_positive(example):
    try:
        sentiment_dict = ast.literal_eval(example)
        return sentiment_dict.get('positive')
    except (SyntaxError, ValueError):
        return None

def clean_sentiment_negative(example):
    try:
        sentiment_dict = ast.literal_eval(example)
        return sentiment_dict.get('negative')
    except (SyntaxError, ValueError):
        return None

def clean_sentiment_neutral(example):
    try:
        sentiment_dict = ast.literal_eval(example)
        return sentiment_dict.get('neutral')
    except (SyntaxError, ValueError):
        return None

In [791]:
df['positive_sentiment'] = df['sentiment'].apply(clean_sentiment_positive)
df['negative_sentiment'] = df['sentiment'].apply(clean_sentiment_negative)
df['neutral_sentiment'] = df['sentiment'].apply(clean_sentiment_neutral)

In [792]:
df['positive_sentiment'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0.011808
1      0.902408
2      0.231911
3      0.119594
4      0.031647
         ...
585    0.060828
586    0.295718
587    0.016089
588    0.045828
589    0.747968
Name: positive_sentiment, Length: 590, dtype: float64>

In [793]:
df.head

<bound method NDFrame.head of                                                    url        authorsByline  \
0    https://www.ft.com/content/3f553a29-89af-4d10-...       George Hammond
1    https://www.ft.com/content/bbabdc53-05f4-4162-...             Dave Lee
2    https://www.ft.com/content/16f1bee2-a768-451e-...         Elaine Moore
3    https://www.ft.com/content/3196b6c0-ce8e-4874-...        Chris Nuttall
4    https://www.ft.com/content/ffa67c61-6813-4542-...         Sophia Smith
..                                                 ...                  ...
585  https://www.defenseworld.net/2023/06/20/b-rile...  Defense World Staff
586  https://news.airbnb.com/en-uk/airbnb-becomes-h...               Airbnb
587  https://lookcharms.com/stock-market-wall-stree...           lookcharms
588  https://www.news4jax.com/news/local/2023/06/20...     Ivanhoe Newswire
589  https://hubliexpress.com/showcasing-indias-her...               kishan

                            articleId                         clusterId  \
0    87a41936930f429fa57f5ce6f2bd0134  177e5ad186be45a7a9071ee5e4937814
1    254f9806f98346a785c4d87559a32da5  a6645d9e5e2641b881a0c0bb067b48a7
2    9522c44765e54c9e9cb31e92b0290fb2  da1c26785b324637a798835eb231fff2
3    1c18de005ac542189882c9fc811b8588  fcb2d9b50fe245bfab67b0791799caa3
4    f3e68091561b479f88ce32db6c20d327  e9635f7809cc463184eea64d1c26580b
..                                ...                               ...
585  b7b93d3ff6cd465fbb1699938e3c4b9b  bb738dc3471a4efdb948deb5eaa2997a
586  d5d03c04d01a4d8eadef67b874cb9cba  94443b0d22dc4ba08e9aa0150b49da50
587  5b2d57e75e7d4fe7a78974331f5146fc  408e3f45b6964634a25a2ec1027c30a7
588  9525bf8e21124e83886320cc4c6c74f0  16e36aa8e4b346849f4b7ed3a6abc86b
589  e56e0b9be45d4f40b13792f071425f63  94443b0d22dc4ba08e9aa0150b49da50

                                                source  \
0    {'domain': 'ft.com', 'paywall': True, 'locatio...
1    {'domain': 'ft.com', 'paywall': True, 'locatio...
2    {'domain': 'ft.com', 'paywall': True, 'locatio...
3    {'domain': 'ft.com', 'paywall': True, 'locatio...
4    {'domain': 'ft.com', 'paywall': True, 'locatio...
..                                                 ...
585   {'domain': 'defenseworld.net', 'location': None}
586    {'domain': 'news.airbnb.com', 'location': None}
587     {'domain': 'lookcharms.com', 'location': None}
588  {'domain': 'news4jax.com', 'paywall': False, '...
589   {'domain': 'hubliexpress.com', 'location': None}

                                              imageUrl country language  \
0    https://www.ft.com/__origami/service/image/v2/...      gb       en
1    https://www.ft.com/__origami/service/image/v2/...      gb       en
2    https://www.ft.com/__origami/service/image/v2/...      gb       en
3    https://www.ft.com/__origami/service/image/v2/...      gb       en
4    https://www.ft.com/__origami/service/image/v2/...      gb       en
..                                                 ...     ...      ...
585  https://www.americanbankingnews.com/wp-content...      us       en
586  https://news.airbnb.com/wp-content/uploads/sit...      us       en
587  https://www.lesaffaires.com/uploads/images/nor...      us       en
588  https://res.cloudinary.com/graham-media-group/...      us       en
589  https://hubliexpress.com/whirtaxi/2023/06/1687...      us       en

                              pubDate                           addDate  ...  \
0    2022-02-06T19:00:23.567000+00:00  2022-02-06T19:00:23.567000+00:00  ...
1    2022-02-15T22:31:47.325000+00:00  2022-02-15T22:31:47.325000+00:00  ...
2    2022-02-16T12:30:41.883000+00:00  2022-02-16T12:30:41.883000+00:00  ...
3    2022-02-16T18:37:38.604000+00:00  2022-02-16T18:37:38.604000+00:00  ...
4    2022-04-06T04:00:32.554000+00:00  2022-04-06T04:00:32.554000+00:00  ...
..                                ...                               ...  ...
585         2023-06-20T08:26:52+00:00  2023-06-20T08:51:58.740123+00:00  ...
586         2023-06-20T09:01:44+00:00  2023-06-20T09:13:24.481817+00:00  ...
587         2023-06-20T09:52:28+00:00  2023-06-20T10:12:41.898461+00:00  ...
588  2023-06-20T10:00:06.314000+00:00  2023-06-20T10:09:51.765576+00:00  ...
589         2023-06-20T09:22:02+00:00  2023-06-20T10:11:03.936512+00:00  ...

                       reprintGroupId  places  \
0    b06af4ed37694981b2376b3171ba08d2      []
1    eb4d684fba7a43768c30e796cf1970b1      []
2    15e2e398146f4a67a2b11c6954b6dda3      []
3    5ab7c12c271b43f6aa536e81ef2a6308      []
4    399df26d75bd4af0a702f5795b78c217      []
..                                ...     ...
585  94f752e5992a42e6bb14751970a33392      []
586  a60ca64d6704418bb207cbffd30d3228      []
587  43a454256d384b699d7c887492361e95      []
588  49ce94b23d0346cbb81f2f987e335c38      []
589  5e6c99867c7647a58d0aaaa44ce2d114      []

                                                people StockSymbol  \
0                                                   []        ABNB
1                                                   []        ABNB
2                                                   []        ABNB
3    [{'wikidataId': 'Q92747', 'name': 'Eric Schmid...        ABNB
4                                                   []        ABNB
..                                                 ...         ...
585                                                 []        ABNB
586                                                 []        ABNB
587  [{'wikidataId': 'Q6279', 'name': 'Joe Biden'},...        ABNB
588                                                 []        ABNB
589  [{'wikidataId': 'Q5512319', 'name': 'G. Kishan...        ABNB

    translatedTitle translatedDescription translatedSummary  \
0               NaN                   NaN               NaN
1               NaN                   NaN               NaN
2               NaN                   NaN               NaN
3               NaN                   NaN               NaN
4               NaN                   NaN               NaN
..              ...                   ...               ...
585             NaN                   NaN               NaN
586             NaN                   NaN               NaN
587             NaN                   NaN               NaN
588             NaN                   NaN               NaN
589             NaN                   NaN               NaN

    positive_sentiment negative_sentiment  neutral_sentiment
0             0.011808           0.893342           0.094850
1             0.902408           0.056243           0.041349
2             0.231911           0.321614           0.446475
3             0.119594           0.013067           0.867338
4             0.031647           0.095279           0.873074
..                 ...                ...                ...
585           0.060828           0.093708           0.845464
586           0.295718           0.010646           0.693636
587           0.016089           0.960978           0.022934
588           0.045828           0.037276           0.916896
589           0.747968           0.008014           0.244018

[590 rows x 41 columns]>

In [794]:
def clean_source(example):
    try:
        source_dict = ast.literal_eval(example)
        return source_dict.get('domain')
    except (SyntaxError, ValueError):
        return None

df['source'] = df['source'].apply(clean_source)

#def clean_companies(example):
#    try:
#        source_dict = ast.literal_eval(example)
#        return source_dict.get('domain')
#    except (SyntaxError, ValueError):
#        return None

In [795]:
df['source'].value_counts()

source
ft.com              27
fool.com            23
nasdaq.com          19
etfdailynews.com    12
defenseworld.net    11
                    ..
bostonglobe.com      1
thetravel.com        1
latintimes.com       1
costar.com           1
hubliexpress.com     1
Name: count, Length: 377, dtype: int64

In [796]:
df['n_companies'] = df['companies'].apply(len)

In [797]:
df['n_companies'].value_counts()

n_companies
116     411
342       8
244       6
1125      6
216       5
       ...
275       1
322       1
417       1
703       1
233       1
Name: count, Length: 115, dtype: int64

In [798]:
def count_companies(companies_list_str):
    try:
        companies_list = ast.literal_eval(companies_list_str)
        return len(companies_list)
    except (SyntaxError, ValueError):
        return 1

df['n_companies'] = df['companies'].apply(count_companies)

In [799]:
df['n_companies'].value_counts()
#there are a few outlier here.

n_companies
1     411
2      74
3      37
5      21
4      19
7      10
6       4
9       3
8       3
15      1
10      1
21      1
24      1
29      1
35      1
18      1
12      1
Name: count, dtype: int64

In [800]:
#make a title sentiment analyzer using textblob
#polarity ranges from -1 to 1, 0 is no polarity
from textblob import TextBlob

#Create a function to get the polarity
def title_polarity(example):
    return TextBlob(example).sentiment.polarity
 #Create new column‘Polarity’
df['title_polarity'] = df['title'].apply(title_polarity)

#Create a function to get the subjectivity
def title_subjectivity(example):
    return TextBlob(example).sentiment.subjectivity
 #Create new column ‘Subjectivity'
df['title_subjectivity'] = df['title'].apply(title_subjectivity)

In [801]:
df.dtypes

url                       object
authorsByline             object
articleId                 object
clusterId                 object
source                    object
imageUrl                  object
country                   object
language                  object
pubDate                   object
addDate                   object
refreshDate               object
score                    float64
title                     object
description               object
content                   object
medium                    object
links                     object
labels                    object
matchedAuthors            object
claim                    float64
verdict                  float64
keywords                  object
topics                    object
categories                object
entities                  object
companies                 object
sentiment                 object
summary                   object
translation              float64
locations                 object
reprint                     bool
reprintGroupId            object
places                    object
people                    object
StockSymbol               object
translatedTitle          float64
translatedDescription    float64
translatedSummary        float64
positive_sentiment       float64
negative_sentiment       float64
neutral_sentiment        float64
n_companies                int64
title_polarity           float64
title_subjectivity       float64
dtype: object

In [802]:
#Not worth keeping the author variable
df['authorsByline'].value_counts()

authorsByline
The Motley Fool                                   16
admin                                             12
MarketBeat News                                   12
Defense World Staff                               11
AM Reporter Staff                                  9
                                                  ..
Sam Kemmis, NerdWallet, and Nexstar Media Wire     1
, Nexstar Media Wire, NerdWallet, Sam Kemmis       1
NerdWallet, Kimberly Palmer                        1
Brett Fieldcamp                                    1
kishan                                             1
Name: count, Length: 335, dtype: int64

In [803]:
#unchanging attribute
df['score'].value_counts()

score
2.0    590
Name: count, dtype: int64

In [804]:
df['pubDate'].dtype

dtype('O')

In [805]:
df['pubDate'].value_counts()

pubDate
2022-11-16T17:59:55+00:00           7
2023-04-11T13:45:00+00:00           4
2023-06-15T10:04:13.300000+00:00    4
2023-04-16T09:00:00+00:00           3
2023-01-06T11:04:00+00:00           3
                                   ..
2022-12-02T10:51:52+00:00           1
2022-12-02T11:10:00+00:00           1
2022-12-02T11:33:01+00:00           1
2022-11-28T05:41:59+00:00           1
2023-06-20T09:22:02+00:00           1
Name: count, Length: 532, dtype: int64

In [806]:
#cleaning the date formats
df['pubDateart'] = df['pubDate'].apply(lambda x: x.split('T')[0])
df['addDateart'] = df['addDate'].apply(lambda x: x.split('T')[0])

In [807]:
#cleaning the date formats
df['pubTime'] = df['pubDate'].apply(lambda x: x.split('T')[1].split('+')[0])
df['addTime'] = df['addDate'].apply(lambda x: x.split('T')[1].split('+')[0])

In [808]:
from datetime import datetime


#a function that changes all dates in to datetime format
def clean_pubDate(example):
    return pd.to_datetime(example)
    
df['pubDateart'] = df['pubDateart'].apply(clean_pubDate)

In [809]:
df['pubTime'].value_counts()

pubTime
17:59:55    7
09:00:00    6
10:00:00    5
12:00:00    4
13:45:00    4
           ..
11:10:00    1
11:33:01    1
05:41:59    1
21:20:51    1
09:22:02    1
Name: count, Length: 506, dtype: int64

In [810]:
from dateutil import parser

def clean_pubTime(example):
    try:
        parsed_time = parser.parse(example)
        return parsed_time.time()
    except ValueError:
        return None

df['pubTime'] = df['pubTime'].apply(clean_pubTime)

In [811]:
df['pubTime'].value_counts()

pubTime
17:59:55           7
09:00:00           6
10:00:00           5
11:00:00           4
10:04:13.300000    4
                  ..
11:33:01           1
05:41:59           1
21:20:51           1
08:08:02           1
09:22:02           1
Name: count, Length: 505, dtype: int64

In [812]:
##changing the dates when an article is late in the day
from datetime import timedelta

def adjust_date_time(example):
    # Parse date and time strings
    # Check if time is past 17:00
    if df.pubTime() > df.pubTime("17:00:00", "%H:%M:%S").time():
        # Increment date by one day
        adjusted_date = df.pubDateart + timedelta(days=1)
        adjusted_date_str = adjusted_date.strftime("%Y-%m-%d")
        return adjusted_date_str
    else:
        return example

    df['pubDateart'] = df[['pubDateart','pubTime']].apply(adjust_date_time)
#where are we running this?

In [813]:
#adjust dates to the following Monday when 'pubDate' falls on a Saturday or Sunday.
# Adjust dates to the following Monday for Saturday and Sunday dates
def adjust_pubDate(example):
    if example.weekday() in [5, 6]:  # Saturday or Sunday
        return example + pd.offsets.BDay()  # Adjust to the following Monday
    else:
        return example  # No adjustment needed for weekdays

# Assuming 'df' is your DataFrame
df['pubDateart'] = df['pubDateart'].apply(adjust_pubDate)

In [814]:
df['pubDateart'].value_counts()

pubDateart
2023-01-02    13
2022-12-19    10
2022-12-07    10
2023-02-10    10
2022-10-24    10
              ..
2022-08-17     1
2022-09-05     1
2022-02-15     1
2022-12-28     1
2022-02-07     1
Name: count, Length: 83, dtype: int64

In [815]:
df.rename(columns={'pubDateart': 'articleDate'}, inplace=True)

In [816]:
df['country'].value_counts()

country
us    419
gb     84
in     25
ca     22
au      6
ie      4
pk      4
za      4
ph      4
ng      3
gr      2
fr      2
de      2
sg      1
my      1
cy      1
am      1
ke      1
ru      1
Name: count, dtype: int64

In [817]:
df.dtypes

url                              object
authorsByline                    object
articleId                        object
clusterId                        object
source                           object
imageUrl                         object
country                          object
language                         object
pubDate                          object
addDate                          object
refreshDate                      object
score                           float64
title                            object
description                      object
content                          object
medium                           object
links                            object
labels                           object
matchedAuthors                   object
claim                           float64
verdict                         float64
keywords                         object
topics                           object
categories                       object
entities                         object
companies                        object
sentiment                        object
summary                          object
translation                     float64
locations                        object
reprint                            bool
reprintGroupId                   object
places                           object
people                           object
StockSymbol                      object
translatedTitle                 float64
translatedDescription           float64
translatedSummary               float64
positive_sentiment              float64
negative_sentiment              float64
neutral_sentiment               float64
n_companies                       int64
title_polarity                  float64
title_subjectivity              float64
articleDate              datetime64[ns]
addDateart                       object
pubTime                          object
addTime                          object
dtype: object

In [818]:
#now that the cleaning is done, we can merge both of the datasets
df_cleaned = df[['articleDate','n_companies','StockSymbol','source','companies', 'country',
                               'entities','positive_sentiment', 'negative_sentiment', 'neutral_sentiment', 'title_polarity', 'title_subjectivity']]

In [819]:
#daily daily data into weekly data
#AAPL
yahoo = pd.read_csv("Finance_Data_Daily_Limited.csv")
#first, we want to take the limited data and create a subset with only apple tickers (or the given company)
yahoo_apple = yahoo[yahoo['ticker'] == 'ABNB']

In [820]:
pd.to_datetime(yahoo_apple['Date'])

Series([], Name: Date, dtype: datetime64[ns])

In [821]:
#now, we want a function that condenses the rows into weekly rows of data
weekly_yahoo_apple = yahoo_apple.groupby(pd.Grouper(key='Date', freq='W-MON',closed='left')).agg(
    start_date= ('Date', 'min'),
    end_date= ('Date', 'max'),
    open= ('open', 'first'),
    high= ('high', 'max'),
    low= ('low', 'min'),
    close= ('close', 'last'),
    volume_start =('volume', 'first'),
    volume_end= ('volume', 'last'),
    volume_mean= ('volume', 'mean')
).reset_index()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [822]:
weekly_yahoo_apple.shape

(104, 10)

In [823]:
weekly_yahoo_apple.head(5)

,Date,start_date,end_date,open,high,low,close,volume_start,volume_end,volume_mean
0,2022-01-10,2022-01-03,2022-01-07,177.830002,182.940002,171.029999,172.169998,104487900,86709100,96389800.0
1,2022-01-17,2022-01-10,2022-01-14,169.080002,177.179993,168.169998,173.070007,106765600,80440800,84531140.0
2,2022-01-24,2022-01-18,2022-01-21,171.509995,172.539993,162.300003,162.410004,90956700,122848900,100010275.0
3,2022-01-31,2022-01-24,2022-01-28,160.020004,170.350006,154.699997,170.330002,162294600,179935700,137651720.0
4,2022-02-07,2022-01-31,2022-02-04,170.160004,176.240005,169.509995,172.389999,115541600,82465400,91710660.0

In [824]:
weekly_yahoo_apple.isna().sum()

Date            0
start_date      0
end_date        0
open            0
high            0
low             0
close           0
volume_start    0
volume_end      0
volume_mean     0
dtype: int64

In [825]:
#merge both data sets
#do this after we convert daily data into weekly data
#this merges the two datasets
for k, k_row in df_cleaned.iterrows():
    for i, i_row in weekly_yahoo_apple.iterrows():
        if weekly_yahoo_apple.loc[i, 'start_date'] <= df_cleaned.loc[k, 'articleDate'] <= weekly_yahoo_apple.loc[i, 'end_date']:
            df_cleaned.at[k, 'open'] = weekly_yahoo_apple.at[i, 'open']
            df_cleaned.at[k, 'close'] = weekly_yahoo_apple.at[i, 'close']
            df_cleaned.at[k, 'high'] = weekly_yahoo_apple.at[i, 'high']
            df_cleaned.at[k, 'low'] = weekly_yahoo_apple.at[i, 'low']
            df_cleaned.at[k, 'volume_start'] = weekly_yahoo_apple.at[i, 'volume_start']
            df_cleaned.at[k, 'volume_end'] = weekly_yahoo_apple.at[i, 'volume_end']
            df_cleaned.at[k, 'volume_mean'] = weekly_yahoo_apple.at[i, 'volume_mean']
            break

C:\Users\pchri\AppData\Local\Temp\ipykernel_9340\1280500596.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.at[k, 'open'] = weekly_yahoo_apple.at[i, 'open']
C:\Users\pchri\AppData\Local\Temp\ipykernel_9340\1280500596.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.at[k, 'close'] = weekly_yahoo_apple.at[i, 'close']
C:\Users\pchri\AppData\Local\Temp\ipykernel_9340\1280500596.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.at[k, 'high'] = weekly_yahoo_apple.at[i, 'high']
C:\Users\pchri\AppData\Local\Temp\ipykernel_9340\1280500596.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.at[k, 'low'] = weekly_yahoo_apple.at[i, 'low']
C:\Users\pchri\AppData\Local\Temp\ipykernel_9340\1280500596.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.at[k, 'volume_start'] = weekly_yahoo_apple.at[i, 'volume_start']
C:\Users\pchri\AppData\Local\Temp\ipykernel_9340\1280500596.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.at[k, 'volume_end'] = weekly_yahoo_apple.at[i, 'volume_end']
C:\Users\pchri\AppData\Local\Temp\ipykernel_9340\1280500596.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.at[k, 'volume_mean'] = weekly_yahoo_apple.at[i, 'volume_mean']

In [826]:
df_cleaned.isna().sum()

articleDate            0
n_companies            0
StockSymbol            0
source                 0
companies              0
country                3
entities               0
positive_sentiment     0
negative_sentiment     0
neutral_sentiment      0
title_polarity         0
title_subjectivity     0
open                  25
close                 25
high                  25
low                   25
volume_start          25
volume_end            25
volume_mean           25
dtype: int64

In [827]:
df_cleaned.dtypes

articleDate           datetime64[ns]
n_companies                    int64
StockSymbol                   object
source                        object
companies                     object
country                       object
entities                      object
positive_sentiment           float64
negative_sentiment           float64
neutral_sentiment            float64
title_polarity               float64
title_subjectivity           float64
open                         float64
close                        float64
high                         float64
low                          float64
volume_start                 float64
volume_end                   float64
volume_mean                  float64
dtype: object

In [828]:
df_cleaned.head(5)

,articleDate,n_companies,StockSymbol,source,companies,country,entities,positive_sentiment,negative_sentiment,neutral_sentiment,title_polarity,title_subjectivity,open,close,high,low,volume_start,volume_end,volume_mean
0,2022-02-07,2,ABNB,ft.com,"[{'id': '0ac918c3981a4c2f9a93e68f6484f17f', 'n...",gb,"[{'data': 'Westminster', 'type': 'GPE', 'menti...",0.011808,0.893342,0.094850,0.000,0.000,172.860001,168.639999,176.649994,168.039993,77251200.0,98670700.0,82580400.0
1,2022-02-15,1,ABNB,ft.com,"[{'id': '90a28a5603a64095a5595b107fbafa14', 'n...",gb,"[{'data': 'Airbnb', 'type': 'ORG', 'mentions':...",0.902408,0.056243,0.041349,0.500,0.500,167.369995,167.300003,173.339996,166.190002,86185500.0,82772700.0,72450460.0
2,2022-02-16,2,ABNB,ft.com,"[{'id': '7cb761c58f6843c8955d263b8511e8d0', 'n...",gb,"[{'data': 'The Lex Newsletter', 'type': 'ORG',...",0.231911,0.321614,0.446475,0.000,0.125,167.369995,167.300003,173.339996,166.190002,86185500.0,82772700.0,72450460.0
3,2022-02-16,5,ABNB,ft.com,"[{'id': 'e2da5ba5b18d41a3b5af079bfbd3232c', 'n...",gb,"[{'data': 'Facebook', 'type': 'ORG', 'mentions...",0.119594,0.013067,0.867338,0.725,0.575,167.369995,167.300003,173.339996,166.190002,86185500.0,82772700.0,72450460.0
4,2022-04-06,1,ABNB,ft.com,"[{'id': '90a28a5603a64095a5595b107fbafa14', 'n...",gb,"[{'data': 'Slack', 'type': 'PRODUCT', 'mention...",0.031647,0.095279,0.873074,-0.400,0.700,174.570007,170.089996,178.490005,169.199997,76468400.0,76575500.0,78619840.0

In [829]:
df_cleaned.head(5)

,articleDate,n_companies,StockSymbol,source,companies,country,entities,positive_sentiment,negative_sentiment,neutral_sentiment,title_polarity,title_subjectivity,open,close,high,low,volume_start,volume_end,volume_mean
0,2022-02-07,2,ABNB,ft.com,"[{'id': '0ac918c3981a4c2f9a93e68f6484f17f', 'n...",gb,"[{'data': 'Westminster', 'type': 'GPE', 'menti...",0.011808,0.893342,0.094850,0.000,0.000,172.860001,168.639999,176.649994,168.039993,77251200.0,98670700.0,82580400.0
1,2022-02-15,1,ABNB,ft.com,"[{'id': '90a28a5603a64095a5595b107fbafa14', 'n...",gb,"[{'data': 'Airbnb', 'type': 'ORG', 'mentions':...",0.902408,0.056243,0.041349,0.500,0.500,167.369995,167.300003,173.339996,166.190002,86185500.0,82772700.0,72450460.0
2,2022-02-16,2,ABNB,ft.com,"[{'id': '7cb761c58f6843c8955d263b8511e8d0', 'n...",gb,"[{'data': 'The Lex Newsletter', 'type': 'ORG',...",0.231911,0.321614,0.446475,0.000,0.125,167.369995,167.300003,173.339996,166.190002,86185500.0,82772700.0,72450460.0
3,2022-02-16,5,ABNB,ft.com,"[{'id': 'e2da5ba5b18d41a3b5af079bfbd3232c', 'n...",gb,"[{'data': 'Facebook', 'type': 'ORG', 'mentions...",0.119594,0.013067,0.867338,0.725,0.575,167.369995,167.300003,173.339996,166.190002,86185500.0,82772700.0,72450460.0
4,2022-04-06,1,ABNB,ft.com,"[{'id': '90a28a5603a64095a5595b107fbafa14', 'n...",gb,"[{'data': 'Slack', 'type': 'PRODUCT', 'mention...",0.031647,0.095279,0.873074,-0.400,0.700,174.570007,170.089996,178.490005,169.199997,76468400.0,76575500.0,78619840.0

In [830]:
df_cleaned.shape

(590, 19)

In [831]:
df_cleaned.to_csv('mergeddata_ABNB.csv', index=False)